@import fonts.css

body
	font-family: 'Museo Sans 300 Light'
	background-color: #9e6a7a

.greetings_page
	font-size: 6rem

.profile_badge
	font-size: 2rem

.profile_badge_info
	font-size: 20px

.onhands_books
	font-size: 22px

.books_container
	width: 1800px

.card
	max-height: 670px
	min-width: 400px
	
.pdf_container
	max-width: 1050px